.parent {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    height: 200px;
    width: 200px;
    border: grey solid 1px;
}

.parent-container {
    width: 300px;
    height: 300px;
    border: grey solid 1px;
}